<!DOCTYPE html>
<html>
<head>
  <title>Users List</title>
</head>
<body>
  <h1>Users</h1>
  <a href="/users/new">Create New User</a>
  <ul>
    <% users.forEach(function(user) { %>
      <li>
        <%= user.name %>
        <a href="/users/edit/<%= user._id %>">Edit</a> |
        <a href="/users/delete/<%= user._id %>">Delete</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
