<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="navbar-container">
        <%- include('navbar.ejs') %>
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <div class="login-form-container">
            <form method="POST" action="/users/login" class="login-form">
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-action">
                    <input type="submit" value="Login" class="login-button">
                </div>
            </form>
            <div class="signup-prompt">
                Don't have an account?
                <input type="button" value="Sign up" onclick="window.location.href='/users/signup'" class="signup-button">
            </div>
            <% if (typeof error !== 'undefined') { %>
                <div class="login-error">
                    <p><%= error %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
