<!-- views/navbar.ejs -->
<nav>
  <a href="/products/catalog">Home</a>
  <a href="/products/new">Add Product</a>
  <a href="/users/login">Login</a>
  <a href="/cart">Cart</a>
  <a href="/orders">Order</a>
  <a href="/users/logout">logout</a>
  <!-- Add other links as needed -->
  <span><%= session.user ? session.user.name : '' %></span>
</nav>