<div class="navbar">
  <div class="left">
    <a href="/products/catalog">Home</a>
    <% if (session.user && session.user.role === 'admin') { %>
      <a href="/products/new">Add Product</a>
      <a href="/orders/all">All Orders</a>
    <% } %>
    <% if (session.user && session.user.role === 'user') { %>
    <a href="/cart">Cart</a>
    <a href="/orders">Order</a>
    <% } %>
  </div>
  <% if (session.user) { %>
    <span><%= session.user.name %></span>
  <div class="right">
      <a href="/users/logout" id="logout">Logout</a>
    <% } else { %>
      <a href="/users/login" id="login">Login</a>
    <% } %>
  </div>
</div>