<!DOCTYPE html>
<html>
<head>
    <title>Create New Product</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <h1>Create New Product</h1>
    <form method="POST" action="/products">
        Name: <input type="text" name="name" required><br>
        Description: <input type="text" name="description" required><br>
        Price: <input type="number" step="0.01" name="price" required><br>
        Category: <input type="text" name="category" required><br>
        Image URL: <input type="text" name="imageUrl"><br>
        <input type="submit" value="Create Product">
    </form>
</body>
</html>