
h1 {
  color: #333;
}
img {
  width:auto ; /* Adjust as needed */
  height: 150px;
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type="email"], input[type="password"], input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

input[type="submit"] , input[type="button"]{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}
input[type="button"]{
  background-color: rgb(17, 153, 135);
}
input[type="button"]:hover{
  background-color:rgb(1, 119, 88) ;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}